<html>
<head>
<title>Register</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="../static/temp_register.css" />
</head>

<body>
	<div id="header"><h1>Cloud Based Health Monitoring System</h1></div>
	<div id="header2"><h2>Please enter the Following Details</h2></div>
	<div id="data">
	<form action="userdata" method="GET">
		{% csrf_token %}
		<input type="text" name="first" placeholder="First Name"> <br>
		<input type="text" name="last" placeholder="Last Name"> <br>
		<input type="text" name="user" placeholder="User Name"> <br>
		<input type="password" name="pass" placeholder="Password"> <br>
		<input type="email" name="email" placeholder="Email ID"> <br>
		<input type="submit" name="submit">
	</form>
	</div>
	<div id="message">
		{% for message in messages %}
		<h3>
			{{message}}
		</h3>
		{% endfor %}
	</div>
</body>
</html>
