html,body{margin:0;padding:0;background:#D0D0D0}
body{font: 76% arial,sans-serif;text-align:center}
div#header{background:#000000;padding:10;font-size: 20px;color: white;}
div#header2{padding:5;font-size: 15px;}
div#data{padding:5;font-size: 15px;margin:10}
